@font-face {
    font-family: Marvin;
    src: url(./fonts/Marvin.woff2);
  }

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: Marvin;
}
  
body {
    width: 100%;
    height: 100%;
    background-color: #a1a1a1;
}

#game {
    width: 40vw;
    display: flex;
    margin: 7vw;
    background-color: #0d233d;
}
canvas {
    margin: 0;
    padding: 0;
    width: 100%;
}

#game {
    border-radius: 27px;
    outline: 8px solid #77bacb;
    padding: 8px;
    box-shadow: 1px -3px 11px 3px rgba(222,225,255,0.69) inset;
}

#start-game {
    display: inline-block;
    padding: 20px;
    border: 1px solid red;
}

#game-bomb {
    display: inline-block;
    padding: 20px;
    border: 1px solid red;
    color: red;
}

#game-bomb.on {
    background-color: red;
    color: #fff;
}